@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #FFF;
}

body {
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #15202E;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.btn-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    gap: 5px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #FFF;
    color: #15202E;
    font-weight: 500;
    font-size: 16px;
    gap: 10px;
}

i {
    color: #15202E;
}

.card-user {
    background-color: #FFF;
    width: 90%;
    border: none;
    border-radius: 5px;
    padding: 20px;
}

p,
a {
    color: #15202E;
}

span {
    color: #15202E;
}

th,
td {
    color: #15202E;
}

#usersContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.key {
    font-weight: 600;
}

.value {
    font-weight: 200;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.overlay-content {
    position: absolute;
    top: 50%;
    right: -31%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    height: 100%;
    width: 58%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.blur-link {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}


table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #15202E;
}

/* Style for table headers (th) */
th {
    background-color: #15202E;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #15202E;
    padding: 10px;
    vertical-align: middle;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}

.img-icon {
    text-align: center;
}

.img-icon img {
    width: 20px;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    gap: 5px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #F90B31;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    gap: 10px;
}

.close-btn:hover {
    background-color: #fff;
    color: #F90B31;
    border-radius: 8px;
    border: 1px solid #F90B31;
}

.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #F90B31;
    color: #fff;
    font-size: 14px;
    gap: 10px;
}

.delete-btn:hover {
    background-color: #fff;
    color: #F90B31;
    border-radius: 8px;
    border: 1px solid #F90B31;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.container {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container div {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    display: block;
    position: absolute;
}

.top-left {
    animation: tl 7.5s ease infinite
}

.top-right {
    animation: tr 7.5s ease infinite
}

.bottom-left {
    animation: bl 7.5s ease infinite
}

.bottom-right {
    animation: br 7.5s ease infinite
}

.container div:before,
.container div:after {
    display: block;
    position: absolute;
    content: ""
}

.container div:before {
    width: 50px;
    height: 50px
}

.top-left:before {
    background: rgb(251, 189, 4);
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0
}

.top-right:before {
    background: rgb(234, 67, 52);
    top: 0;
    right: 0;
    border-radius: 0 100% 0 0
}

.bottom-left:before {
    background: rgb(52, 168, 83);
    bottom: 0;
    left: 0;
    border-radius: 0 0 0 100%
}

.bottom-right:before {
    background: rgb(67, 135, 244);
    bottom: 0;
    right: 0;
    border-radius: 0 0 100% 0
}

.container div:after {
    background: rgb(33, 33, 33);
    width: 25px;
    height: 25px;
    z-index: 1
}

.top-left:after {
    top: 25px;
    left: 25px;
    border-radius: 100% 0 0 0
}

.top-right:after {
    top: 25px;
    right: 25px;
    border-radius: 0 100% 0 0
}

.bottom-left:after {
    bottom: 25px;
    left: 25px;
    border-radius: 0 0 0 100%
}

.bottom-right:after {
    bottom: 25px;
    right: 25px;
    border-radius: 0 0 100% 0
}

@keyframes tl {

    0%,
    96%,
    100% {
        transform: rotate(0deg)
    }

    12% {
        transform: rotate(-45deg)
    }

    24% {
        transform: rotate(-90deg)
    }

    36% {
        transform: rotate(-135deg)
    }

    48% {
        left: 50px;
        transform: rotate(-180deg)
    }

    60% {
        left: 125px;
        opacity: 1;
        transform: rotate(-135deg)
    }

    61%,
    95% {
        opacity: 0
    }
}

@keyframes tr {
    0% {
        transform: rotate(0deg)
    }

    12% {
        transform: rotate(-45deg)
    }

    24% {
        transform: rotate(-90deg)
    }

    36% {
        transform: rotate(-135deg)
    }

    48% {
        transform: rotate(-180deg)
    }

    60% {
        transform: rotate(-225deg)
    }

    72% {
        transform: rotate(-270deg)
    }

    84% {
        transform: rotate(-315deg)
    }

    96%,
    100% {
        transform: rotate(-360deg)
    }
}

@keyframes bl {

    0%,
    100% {
        transform: rotate(0deg)
    }

    12% {
        transform: rotate(-45deg)
    }

    24% {
        left: 50px;
        transform: rotate(-90deg)
    }

    36% {
        left: 125px;
        opacity: 1;
        transform: rotate(-45deg)
    }

    37%,
    83% {
        opacity: 0
    }

    84% {
        left: -25px;
        opacity: 1;
        transform: rotate(-45deg)
    }

    96% {
        left: 50px;
        transform: rotate(0deg)
    }
}

@keyframes br {

    0%,
    96%,
    100% {
        transform: rotate(0deg)
    }

    12% {
        left: 125px;
        opacity: 1;
        transform: rotate(45deg)
    }

    13%,
    59% {
        opacity: 0
    }

    60% {
        left: -25px;
        opacity: 1;
        transform: rotate(45deg)
    }

    72% {
        left: 50px;
        transform: rotate(90deg)
    }

    84% {
        transform: rotate(45deg)
    }
}