@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.login-container h1 {
    text-align: center;
    color: #191919;
}

input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 8px;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #022d94;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #022d94;
    border: #022d94 1px solid;
}

.register {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
}

.register-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
}

.register-content h1 {
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    border-radius: 10px;
    line-height: 35px;
}

.close-btn {
    background-color: #F90B31;
    color: #fff;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #fff;
    color: #F90B31;
    border: #F90B31 1px solid;
}


.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 1;
}

.eye {
    width: 20px;
    height: 8px;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    left: 10px;
    top: 40px;
    box-shadow: 40px 0px 0px 0px #fff;
}

.head {
    -webkit-backface-visibility: hidden;
    position: relative;
    margin: -250px auto;
    width: 80px;
    height: 80px;
    background-color: #111;
    border-radius: 50px;
    box-shadow: inset -4px 2px 0px 0px #fff;
    -webkit-animation: headAnim 1.5s infinite alternate;
    -webkit-animation-timing-function: ease-out;
}

.body {
    position: relative;
    margin: 90px auto;
    width: 140px;
    height: 120px;
    background-color: #111;
    border-radius: 50px/25px;
    box-shadow: inset -5px 2px 0px 0px #fff;
    -webkit-animation: bodyAnim 1.5s infinite alternate;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes headAnim {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

@-webkit-keyframes bodyAnim {
    0% {
        top: -5px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: -5px;
    }
}

.circ {
    -webkit-backface-visibility: hidden;
    margin: 60px auto;
    width: 180px;
    height: 180px;
    background-color: #111;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    z-index: -1;
    left: 0%;
    top: 30%;
    overflow: hidden;
}

.hands {
    -webkit-backface-visibility: hidden;
    margin-top: 140px;
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: #111;
    border-radius: 20px;
    box-shadow: -1px -4px 0px 0px #fff;
    -webkit-transform: rotate(45deg);
    top: 75%;
    left: 16%;
    z-index: 1;
    -webkit-animation: bodyAnim 1.5s infinite alternate;
    -webkit-animation-timing-function: ease-out;
}

.load {
    position: absolute;
    width: 7ch;
    height: 32px;
    text-align: left;
    line-height: 32px;
    margin: -10px auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    left: 2%;
    top: 5%;
    -webkit-animation: fontAnim 3.75s infinite;
    -webkit-animation-timing-function: ease-out;
    word-wrap: break-word;
    display: block;
    overflow: hidden;
}

@-webkit-keyframes fontAnim {
    0% {
        width: 7ch;
    }

    16% {
        width: 8ch;
    }

    32% {
        width: 9ch;
    }

    48% {
        width: 10ch;
    }

    64% {
        width: 11ch;
    }

    80% {
        width: 12ch;
    }

    100% {
        width: 13ch;
    }
}